body {
  background: rgb(68, 67, 67);
}

.container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 100px 100px;
}

.timer {
  height: 200px;
  width: 200px;
  display: flex;
  background-color: rgb(151, 165, 160);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.timer__counter {
  font-size: 120px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: #1c19eb;
  text-shadow: 0 0 25px#61cd0e;
}

.timer__button {
  height: 43px;
  width: 125px;
  margin: 0 10px;
  font-size: 25px;
  text-align: center;
  color: #1c19eb;
  background-color: #61cd0e;
  cursor: pointer;
}

.timer__button:hover {
  color: #3e1fec;
  background-color: #0ba317;
}
